.header__image {
  width: 260px;
  display: block;
  margin: 0 auto;
  margin-top: 3.5rem;
}

.header__texts {
  margin-top: 3rem;
  line-height: 3.2rem;
}
.b {
  font-weight: 700;
}
.p1 {
  font-size: 24px;
}
.p2 {
  font-size: 48px;
}
.p3 {
  font-size: 28px;
  color: #424cf9;
}
