header {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 2);
  grid-template-areas:
    "picture"
    "text";
}
.header__image {
  width: 260px;
  display: block;
  margin: 0 auto;
  margin-top: 3.5rem;
  grid-area: picture;
}

.header__texts {
  margin-top: 2.8rem;
  line-height: 3.2rem;
  grid-area: text;
}
.b {
  font-weight: 700;
}
.p1 {
  font-size: 24px;
}
.p2 {
  font-size: 48px;
}
.p3 {
  font-size: 28px;
}
button{
  margin-top: 1.7rem;
  padding: .9rem 2.8rem;
  font-size: 1.1rem;
//  background: #12006C;
background:#424cf9;
  border: none;
  font-family: Poppins;
  color: #fff;
  border-radius: 5px;
}

@media screen and (min-width: 760px) {
  header {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(2 , 47vw);
    grid-template-rows: 80vh;
    grid-template-areas: "text picture";
    align-items: center;
  }
  .header__image {
    grid-area: picture;
    margin-top: 0;
    justify-self: center;
    width: 300px;
  }

  .header__texts {
    grid-area: text;
    margin-top: 0;
    line-height: 4rem;
  }

  .p1 {
    font-size: 25px;
  }
  .p2 {
    font-size: 55px;
  }
  .p3 {
    font-size: 30px;
    color: #424cf9;
  }

  button{
    margin-top: 2rem;
    padding: .8rem 3.5rem;
    font-size: 1.4rem;
    background: #12006C;
    border: none;
    font-family: Poppins;
    color: #fff;
    border-radius: 5px;
  }
  button{
    padding: .7rem 2.8rem;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 950px) {
  .header__image {
    width: 400px;
  }

  .header__texts {
    line-height: 4rem;
  }

  .p1 {
    font-size: 29px;
  }
  .p2 {
    font-size: 65px;
  }
  .p3 {
    font-size: 40px;
    color: #424cf9;
  }

  
  
}
