.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0 0;

}
.logo{
  width: 70px;
}
.hamburger__container {
  width: 60px;
  margin-top: 2px;
  z-index: 39 !important;
}
.hamburger {
  width: 33px;
  display: block;
  margin-left: auto;
 
}
.nav__links {
  width: 100vw;
  height: 100vh;
  background: #424cf9;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  transition: all 200ms ease-in-out;
}
.nav__links ul{
  list-style: none;
}

.nav__show{
  transform: translateX(0vw)
}
